<!DOCTYPE html>
<html>
{% load pwa %}
{% load static %}
<head>
	{% progressive_web_app_meta %}
	<title>Timer App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="font-family: sans-serif;">
	<div class="wrapper">
	    <nav class="main-nav">
	        <ul class="nav">
	          <li class="name">Test</li>
	          <li>xxxx</li>
	          <li>xxxx</li>
	        </ul>
	    </nav>
			<div>
		<script type="text/javascript" src="{% static 'js/idb.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/idbop.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/test.js' %}"></script>
		<div style="margin-left:20px"></div>
			{% block content %}{% endblock %}

		<div class="footer bg-dark">
		</div>
	</div>
</body>
</html>