{% extends 'time_keeper/base.html' %}
{% load static %}
{% block content %}
	<div id="clock"></div>
	<table>
	<tr>
	<td>User: </td>
	<td id="username">{{ user }}</td>
	</tr>
	<tr>
	<td><label>Task: </label></td>
	<td>
	<select name = "primary_task" id="primary_task">
	<option value="">Select Task</option>
    </select>
    </td>
    </tr>
	<tr>
	<td><label>Sub-Task: </label></td>
	<td>
	<select name = "sub_task" id="sub_task">
    </select>
    </td>
    </tr>
	<tr>
	<td> Start Time: </td>
	<td id="start_time"></td>
	</tr>
	<tr>
	<td> Stop Time: </td>
	<td id="stop_time"></td>
	</tr>
	<tr>
	<td> No. of Transactions: </td>
	<td><input type="number" min="0" id="no_of_transactions" name="no_of_transactions" value = "1"></td>
	</tr>
	<tr>
	<td> Remarks: </td>
	<td><textarea id="remarks" rows="5" cols="25"></textarea></td>
	</tr>
	</table>
	<label hidden>Date: </label>
	<input hidden type="Date" name="task_date" id="task_date">
	<button id="start" class="start">Start</button>
	<button id="stop" class="stop">Stop</button>
	<button type="submit" class="submit" id="submit"> Submit </button>
	<br>
	<a href="/postdata" id="save_button">Go to Save Page</a>
<script type="text/javascript" src="{% static 'js/test.js' %}"></script>
<script type="text/javascript">
    if( !/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        alert("Please use your mobile device.");
        window.location = '/logout';
    }
</script>

{% endblock %}