{% extends 'time_keeper/base.html' %}
{% block content %}
{% load static %}

	<script type="text/javascript">
		$(function() {

			var test = [];
			var i = 0;
			var data_json;
			var record_index = 1;

			document.getElementById('submit_data').addEventListener('click', function() {
				alert("Data will be saved to main DB.");
			});

			dbPromise.then(function(db) {
					  var tx = db.transaction('records', 'readonly');
					  var recordsStore = tx.objectStore('records');
					  return recordsStore.openCursor();
					}).then(function logItems(cursor) {
					  if (!cursor) {
					    return;
					  }
					  if (cursor.value.model =="time_keeper.TimeRecord"){
						  latest_key = cursor.key;
						  test[i] = cursor.value;
						  test[i].pk = record_index;
						  i = i + 1;
						  record_index = record_index + 1;
						}
					  return cursor.continue().then(logItems);
					}).then(function(){
						data_json = JSON.stringify(test);
						inputVal = document.getElementsByName('data')[0];
						inputVal.value = data_json;
					});
		});
	</script>
	<div>
		<form action='' method='POST'>
			<input hidden type="text" name="data" required id="id_data">
			{% csrf_token %}
			<input type='submit' class='submit' id='submit_data' value="Save Data">
		</form>
	</div>
	<div>
		<table id="offline_data">
		<!-- display here -->
		</table>
	</div>
</html>

{% endblock %}