<!DOCTYPE html>
<html>
{% load static %}
<head>
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/idb.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/idbop.js' %}"></script>
</head>
<body>
	<script type="text/javascript">
		$(function() {

			var test = [];
			var i = 0;
			var data_json; 

			$("#submit").click(function(){
				alert("Data will be saved to main DB.");

			});


			dbPromise.then(function(db) {
					  var tx = db.transaction('records', 'readonly');
					  var recordsStore = tx.objectStore('records');
					  return recordsStore.openCursor();
					}).then(function logItems(cursor) {
					  if (!cursor) {
					    return;
					  }
					  latest_key = cursor.key;
					  console.log(cursor.value);
					  test[i] = cursor.value;
					  i = i + 1;
					  return cursor.continue().then(logItems);
					}).then(function(){
						data_json = JSON.stringify(test);
						inputVal = document.getElementsByName('data')[0];
						inputVal.value = data_json;
						$("#id_data").hide();
					});

		});
	</script>
	<form action='' method='POST'>
	<input type="text" name="data" required id="id_data">
	{% csrf_token %}
	<input type='submit' id='submit' value="Save Data">
	</form>
</body>

</html>